<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>IavealokinDisk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/templates/tmpl.js"></script>
    <link rel="stylesheet" href="/public/templates/template.css">
</head>

<body>
    <div id="header">
        <h1></h1>
    </div>
    <div id="sidebar">
       <h3>Файлы</h3>
    </div>
    <div id="content">
        <h2>Data</h2>

        <div>
            <table id="main">

                <td class="left"><a href="#" onclick="link('/main?path=');" id="link"></a> </td>

                <td class="left"> </td>

                <td class="right"></td>
            </table>
        </div>

    </div>
    <div id="footer">&copy; HomeServer</div>
</body>

</html>