<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Байки из склепа</title>
    <link rel="stylesheet" href="/public/templates/template.css">
</head>

<body>
    <div id="header">
        <h1>{{ .Page.Path }}</h1>
    </div>
    <div id="sidebar">
    {{ if .Page.NeedUp }}
     <p><a href="/main?path=/">...</a></p>
     {{ end }}
      {{ range .Page.Files }}
      {{ if .IsFolder }}
        <p><a href="/main?path={{ .Name }}">{{ .Name }}</a></p>
        {{ end }}
        {{ end }}
    </div>
    <div id="content">
        <h2>Data</h2>
        {{ range .Page.Files }}
        <div><table>
        {{ if .IsFolder }}
        <td class="left"><a href="/main?path={{ .Name }}">{{ .Name }}</a> </td>
        {{ else }}
        <td class="left">{{ .Name }} </td>
        {{ end }}
        <td class="right">{{ .Size }} </td>
        </table>
        </div>
        {{ end }}
    </div>
    <div id="footer">&copy; HomeServer</div>
</body>

</html>